<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    {% block content %}
    {{ test }}
    <form method="post" action="" class="container">
        {{ form.hidden_tag() }}

        <fieldset class="row justify-content-around">
            <div class="col-4">
                <legend class="border-bottom">Source</legend>
                <div class="">
                    {{ form.src_lat.label(class="form-control-label") }} {{
                    form.src_lat(class="form-control form-control-lg") }}
                </div>
                <div class="">
                    {{ form.src_long.label(class="form-control-label") }} {{
                    form.src_long(class="form-control form-control-lg") }}
                </div>
            </div>
            <div class="col-4">
                <legend class="border-bottom">Destination</legend>
                <div class="">
                    {{ form.dest_lat.label(class="form-control-label") }} {{
                    form.dest_lat(class="form-control form-control-lg")}}
                </div>
                <div class="">
                    {{ form.dest_long.label(class="form-control-label") }} {{
                    form.dest_long(class="form-control form-control-lg")}}
                </div>
            </div>
            <div class="col-4">
                <legend class="border-bottom">Offset (in meters)</legend>
                <div class="">
                    {{ form.offset.label(class="form-control-label") }} {{
                    form.offset(class="form-control form-control-lg", value=50)}}
                </div>
            </div>
        </fieldset>
        <fieldset class="col-12 m-5">
            <div class="d-grid gap-2 col-6 mx-auto">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </fieldset>
    </form>
    <div>
        <legend class="border-bottom">Result</legend>
        <ul class="list-group list-group-flush">
            {% for n in coordinates %}
            <li class="list-group-item">{{ n[0]|string }},{{ n[1]|string }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endblock content %}
</body>

</html>